.about-presentation-container {
	height: calc(100vh - 120px);
	margin-top: 60px;
	margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
	.about-presentation-container {
		height: calc(100vh - 180px);
		margin-top: 120px;
	}
}

.about-presentation-container .container,
.about-presentation-container .row { height: 100%;}

.about-presentation-container .row {
	align-items: flex-end;
}

@media screen and (min-width: 768px) {
	.about-presentation-container .row {
		align-items: center;
	}
}

.img-about-presentation { display: none;}

@media screen and (min-width: 768px) {
	.img-about-presentation {
		display: block;
		height: 100%;
	}
}

.text-about-presentation h4 {
	background: rgb(12,28,63);
	background: -moz-linear-gradient(left, rgb(234,246,247) 0%, rgb(0,127,143) 50%, rgb(12,28,63) 100%);
	background: -webkit-linear-gradient(left, rgb(234,246,247) 0%, rgb(0,127,143) 50%, rgb(12,28,63) 100%);
	background: linear-gradient(to right, rgb(234,246,247) 0%, rgb(0,127,143) 50%, rgb(12,28,63) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaf6f7', endColorstr='#0c1c3f',GradientType=1 );
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/********** timeline **********/
@media screen and (min-width: 768px) {
	.about-card-container { display: none;}
}

.about-timeline-container { display: none;}

@media screen and (min-width: 768px) {
	.about-timeline-container {
		display: block;
		margin-top: 10rem;
	}

	.timeline { cursor: pointer;}
	.timeline:first-child { margin-bottom: 1rem;}
	.timeline .col-12 { display: flex;}

	.timeline .date {
		opacity: 0.2;
		width: 60px;
		margin-bottom: 0;
		text-align: center;
	}

	.timeline .line {
		opacity: 0.2;
		border-bottom: 1px solid #000;
	}

	.timeline .line::before {
		content: "+";
		position: absolute;
		top: 0;
	}

	.line0 { width: 40%;}
	.line1 { width: 10%}
	.line2 { width: 20%; margin-left: calc(40% + 120px);}
	.line3, .line4 { width: 10%;}

	.description-timeline {
		cursor: initial;
		margin-top: 4rem;
		margin-left: 15px;
	}

	.description-timeline .col-md-6:nth-child(2) { border-left: 1px solid #000;}
}

.card { border: 0;}
.card-header { background: transparent;}

.card button {
	font-size: 0.75rem;
	color: #000;
}
.card button:focus {
	color: #000;
	text-decoration: none;
}

.card .btn-link { font-family: 'FuturaStd-Bold';}
.card .collapsed { font-family: 'FuturaStd-Light';}

.title-about-timeline { margin-bottom: 0;}
.description-about-timeline { margin-top: 1rem;}

@media screen and (min-width: 768px) {
	.title-about-description-timeline { margin-bottom: 0;}
	.text-about-description-timeline { margin-top: 1rem;}
}

/********** brands **********/
.about-brands-container {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.about-brands-container .col-12 { margin-bottom: 1rem;}

.about-brands-container .col-sm-12.col-md-8 {
	display: flex;
	align-items: center;
	margin: auto;
}

.about-brands-container img {
	width: calc(20% - 1.5rem);
	margin: 0.75rem;
	-webkit-filter: grayscale(1);
  	filter: grayscale(1);
}

@media screen and (min-width: 992px) {
	.about-brands-container img {
		width: calc(20% - 5rem);
		margin: 1rem 2.5rem;
	}
}

/********** languages **********/
.about-languages-container .col-12 { margin-bottom: 1rem;}
.about-languages-container .col-4 { float: left; padding: 0;}
.about-languages-container .col-4:nth-child(2) { padding: 0 15px;}

.about-languages-container hr {
	width: 30px;
	height: 1px;
	background: #000;
}
