.main-intro-container {
	height: calc(100vh - 120px);
	margin-top: 60px;
	margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
	.main-intro-container {
		height: calc(100vh - 180px);
		margin-top: 120px;
	}
}

.main-intro-container .container {
	height: 100%;
}

@media screen and (min-width: 768px) {
	.main-intro-container .container {
		background: rgb(234,246,247);
	  background: -moz-linear-gradient(left, rgb(234,246,247) 0%, rgb(0,127,143) 50%, rgb(0,127,143) 70%, rgb(12,28,63) 100%);
	  background: -webkit-linear-gradient(left, rgb(234,246,247) 0%, rgb(0,127,143) 50%, rgb(0,127,143) 70%, rgb(12,28,63) 100%);
	  background: linear-gradient(to right, rgb(234,246,247) 0%, rgb(0,127,143) 50%, rgb(0,127,143) 70%, rgb(12,28,63) 100%);
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaf6f7', endColorstr='#0c1c3f',GradientType=1 );
	}
}

.main-intro-container .col-12 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	color: #FFF;
	text-align: center;
}

.main-intro-container .col-12 h4 {
	margin-top: 1rem;
	margin-bottom: 0;
  letter-spacing: 0.3rem;
  line-height: 2rem;
}

.main-intro-container .col-12 small, .main-intro-container .col-12 h4 {
	background: rgb(12,28,63);
	background: -moz-linear-gradient(left, rgb(234,246,247) 0%, rgb(0,127,143) 50%, rgb(12,28,63) 100%);
	background: -webkit-linear-gradient(left, rgb(234,246,247) 0%, rgb(0,127,143) 50%, rgb(12,28,63) 100%);
	background: linear-gradient(to right, rgb(234,246,247) 0%, rgb(0,127,143) 50%, rgb(12,28,63) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaf6f7', endColorstr='#0c1c3f',GradientType=1 );
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@media screen and (min-width: 768px) {
	.main-intro-container .col-12 small, .main-intro-container .col-12 h4 {
		background: none;
		-webkit-text-fill-color: initial;
	}
}

.scroll-down-btn {
	position: absolute;
	height: 40px;
	left: 50%;
	transform: translateX(-50%);
}

@media screen and (min-width: 768px) {
	.scroll-down-btn {
		height: 73px;
		bottom: -28px;
	}
}

.vr-line {
	width: 1px;
	height: 100%;
	margin: 5px auto 0px auto;
	background: #000;
}

@media screen and (min-width: 768px) {
	.vr-line {
		height: 25px;
		-webkit-animation-name: vrLine;
			animation-name: vrLine;
	  -webkit-animation-duration: 4s;
	  	animation-duration: 4s;
		-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
	}

	@-webkit-keyframes vrLine {
		0% { height: 0; margin-top: 0;}
		50% { height: 55px; margin-top: 8px;}
	  100% { height: 55px; margin-top: 8px;}
	}
	@keyframes vrLine {
		0% { height: 0; margin-top: 0;}
		50% { height: 55px; margin-top: 8px;}
	  100% { height: 55px; margin-top: 8px;}
	}
}

/********** slide **********/
.slide .box-gallery {
	cursor: pointer;
	margin-right: 15px;
}

.slide-description { margin-top: 2rem;}
.number-slide-description { float: left;}

.project-slide-description {
	float: right;
	width: calc(100% - 50px);
}

.project-slide-description hr {
	width: 20%;
	height: 2px;
	background: #000;
}

.project-slide-description p { margin-bottom: 0;}

/********** features-list **********/
.main-features-container { padding: 4rem 30px;}

@media screen and (min-width: 768px) {
	.main-features-container { padding: 6rem 30px;}
}

.main-features-container .col-sm-12.col-md-6 { margin-bottom: 4rem;}

.main-features-container .col-sm-12.col-md-3 {
	margin-bottom: 2rem;
	text-align: center;
}
.main-features-container
.col-sm-12.col-md-3:last-child { margin-bottom: 0;}

@media screen and (min-width: 768px) {
	.main-features-container .col-sm-12.col-md-3 {
		margin-bottom: 0;
		text-align: left;
	}
}

.main-features-container svg {
	height: 2.5rem;
	margin-bottom: 1rem;
}

.main-features-container p { margin-bottom: 0.5rem;}
