.bg-second-layer::after {
	content: "";
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 40vh;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.02);
}

.project-feature-container {
	position: relative;
	z-index: 1;
}

.img-project-feature {
	height: calc(100vh - 126px);
	margin-bottom: 15px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

@media screen and (min-width: 768px) {
	.img-project-feature {
		height: 50vh;
		margin-bottom: 0;
	}
}

.img-project-feature-d {
	background-image: url('../images/projects/beechild/7.jpg');
	background-position: 80% center;
}

@media screen and (min-width: 768px) {
	.img-project-feature-d {
		background-position: center right;
	}
}

.project-feature-container button {
	cursor: pointer;
	display: flex;
	justify-content: center;
	text-align: center;
	background: transparent;
	border: none;
	border-right: 1px solid #000;
	margin-top: 15px;
}
.project-feature-container button:nth-child(3) {
	border-right: 1px solid transparent;
}

@media screen and (min-width: 768px) {
	.project-feature-container button {
		margin-top: 0;
		border: 0;
	}

	.project-feature-container button:nth-child(3) {
		text-align: right;
	}
	.project-feature-container button:nth-child(3) {
		text-align: left;
	}
}

.project-feature-container button p {
	border-bottom: 1px solid transparent;
	margin-bottom: 0;
}

@media screen and (min-width: 768px) {
	.project-feature-container button:hover p {
		border-bottom: 1px solid #000;
	}
}

.description-project-feature { margin-top: 4rem;}
.description-project-feature .title {
	margin-top: 1rem;
	margin-bottom: 0;
}
.description-project-feature .title:first-child { margin-top: 0;}
.description-project-feature p { margin-bottom: 0;}
.description-project-feature .col-sm-12.col-md-5 { margin-top: 1rem;}

@media screen and (min-width: 768px) {
	.description-project-feature { justify-content: center;}
	.description-project-feature .col-sm-12.col-md-5 { margin-top: 0;}
}

/********** responsive-view  **********/
.project-responsive-view-container .col-sm-12.col-md-10 {
	margin-bottom: 10px;
	text-align: center;
}

@media screen and (min-width: 768px) {
	.project-responsive-view-container .col-sm-12.col-md-10 {
		margin-bottom: 0;
	}
}

.img-project-responsive-view {
	width: 100%;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.img-project-responsive-view-d img {
	width: 100%;
}

.project-responsive-view-container button {
	background: transparent;
	border: none;
	border-right: 1px solid #000;
}
.project-responsive-view-container button:nth-child(3) {
	border-right: 1px solid transparent;
}

@media screen and (min-width: 768px) {
	.project-responsive-view-container button {
		margin-top: 0;
		border: 0;
	}
}

.project-responsive-view-container button p{
	opacity: 0.3;
	margin-bottom: 0;
}

@media screen and (min-width: 768px) {
	.project-responsive-view-container button p {
		opacity: 1;
		border-bottom: 2px solid transparent;
	}

	.project-responsive-view-container button:nth-child(2) p{
		text-align: right;
	}
	.project-responsive-view-container button:nth-child(3) p{
		text-align: left;
	}
}

.active-button-desk-mobile p {
	opacity: 1 !important;
}

@media screen and (min-width: 768px) {
	.active-button-desk-mobile p,
	.project-responsive-view-container button:hover p{
		border-bottom: 2px solid #000 !important;
	}
}

/********** gallery **********/
.project-gallery-container .col-sm-12.col-md-10 {
	margin-left: auto;
	margin-right: auto;
}

.project-gallery-container p { margin: 0 0 4rem 0;}

@media screen and (min-width: 768px) {
	.project-gallery-container p { margin: 4rem 0;}
}

.project-gallery-container img, .project-gallery-container video {
	width: 100%;
	margin-bottom: 1rem;
}

.project-gallery-container video { display: none;}

.project-gallery-container .conditions-project-gallery {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 8px;
}
